<% include ../header.ejs %>
<div class="container">
    <div class="row">
        <div class="col-md-4 col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">黄金钱包</div>
                <div class="panel-body">
                    <div>
                        当前金价: <span id="hjqbPrice" style="color: lightcoral; font-size: 24px"></span>
                    </div>
                </div>
                <div class="panel-footer">
                    <div>
                        低于: <input type="text" id="hjqbMin">提示
                    </div>
                    <div>
                        高于: <input type="text" id="hjqbMax">提示
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">金生宝</div>
                <div class="panel-body">
                    <div>
                        买入金价: <span id="jsbPriceBuy" style="color: lightcoral; font-size: 24px"></span>
                    </div>
                    <div>
                        卖出金价: <span id="jsbPriceSell" style="color: lightblue; font-size: 18px"></span>
                    </div>
                    <div>
                        更新时间: <span id="jsbPriceUpdated" style="color: lightblue; font-size: 18px"></span>
                    </div>
                </div>
                <div class="panel-footer">
                    <div>
                        低于: <input type="text" id="jsbMin">提示
                    </div>
                    <div>
                        高于: <input type="text" id="jsbMax">提示
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
        </div>
    </div>
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">配置</div>
            <div class="panel-body">
                <div>
                    价格刷新频率: <input type="number" value="5000" id="freshTime">ms
                    <button class="btn btn-primary btn-xs" onclick="$('#freshTime').val(1000)">快(1000ms)</button>
                    <button class="btn btn-default btn-xs" onclick="$('#freshTime').val(5000)">正常(5000ms)</button>
                    <button class="btn btn-warning btn-xs" onclick="$('#freshTime').val(11000)">慢(11000ms)</button>
                </div>
                <div>
                    消息通知显示: <input type="number" value="3000" id="notificationShowTime">ms
                </div>
            </div>
        </div>
    </div>

</div>

<script>
    if (window.Notification){
        Notification.requestPermission();
    }
    $(function(){

        (function runGetPriceInterval(){
            var freshTime = parseInt($('#freshTime').val());
            setTimeout(function(){
                getHJQBNowGold();
                getJSBNowGold();
                runGetPriceInterval();
            }, freshTime);
        })();

        function getHJQBNowGold(){
            $.ajax({
                type: "GET",
                url: "/goldPrice",
                success: function(data){
                    $('#hjqbPrice').html(data.price/100);
                    checkoutNatifacation('HJQB', data.price/100);
                },
                error: function(){
                    $('#hjqbPrice').html('--');
                }
            });
        }
        function getJSBNowGold() {
            var _url = 'https://login.vip9999.com/';
            var url = _url + "?s=api-getgold&callback=?";
            $.getJSON(url, function(response) {
                $('#jsbPriceBuy').html(response.results.buy);
                $('#jsbPriceSell').html(response.results.sell);
                $('#jsbPriceUpdated').html(response.results.converted_updated);
                checkoutNatifacation('JSB', response.results.buy-0);
            }, "json")
        }

        getHJQBNowGold();
        getJSBNowGold();


        function checkoutNatifacation(type, price){
            var hjqbMin = parseFloat($('#hjqbMin').val());
            var hjqbMax = parseFloat($('#hjqbMax').val());
            var jsbMIn = parseFloat($('#jsbMin').val());
            var jsbMax = parseFloat($('#jsbMax').val());

            if(type == 'HJQB' && hjqbMin && hjqbMin > price){
                notificationShow('/images/goDown.png', '/images/sanxing.mp3', '黄金钱包', '价钱跌到' + price);
            }
            if (type == 'HJQB' && hjqbMax && hjqbMax < price){
                notificationShow('/images/goUp.png', '/images/dada.mp3', '黄金钱包', '价钱涨到' + price);
            }
            if(type == 'JSB' && jsbMIn && jsbMIn > price){
                notificationShow('/images/goDown.png', '/images/sanxing.mp3', '金生宝', '价钱跌到' + price);
            }
            if (type == 'JSB' && jsbMax && jsbMax < price){
                notificationShow('/images/goUp.png', '/images/dada.mp3', '金生宝', '价钱涨到' + price);
            }
        }

        function notificationShow(icon, tipAudioUrl, title, message){
            if (!window.Notification){
                tipSound(tipAudioUrl);
                return ;
            }

            var notificationShowTime = parseInt($('#notificationShowTime').val()) || 3000;
            var notification = new Notification(title,{
                body: message,
                icon: icon
            });
            notification.onshow = function(){
                tipSound(tipAudioUrl);
                setTimeout(function(){
                    notification.close();
                }, notificationShowTime);
            };
        }

        function tipSound(url){
            url = url || '/images/dada.mp3';
            var audio = document.createElement('audio');
            audio.src = url;
            audio.play();
        }
    });
</script>