<footer class="footer">
    <div class="container">
        <div class="info">
            <br>
            版权声明：凡来源于本站的文字信息，请在转载时保留本站链接。<br>
            © 2014-2017 <strong><a href="mailto:578595193@qq.com" target="_blank">联系我</a> | <a href="#">王森博客网站</a> </strong>
        </div>
        <div class="row footer-bottom">
            <ul class="list-inline text-center">
                <li><a href="http://www.miitbeian.gov.cn/" target="_blank">鲁ICP备15002863号</a></li><li></li>
            </ul>
        </div>
    </div>
</footer>
